

.tag-page {
  padding: 20px; /* Espacio interno alrededor del contenedor */
  max-width: 1000px; /* Ancho máximo para el contenedor */
  /* margin: 0 auto;  Centra el contenedor en la página lo comentamos para que quede el margen a la derecha*/
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas como en el diseño proporcionado */
  gap: 15px; /* Espacio entre las tarjetas */
}

.news-item {
  border-bottom: 1px solid #eaeaea; /* Línea inferior sutil */
  padding-bottom: 12px;
  text-align: left; /* Alineación del contenido a la izquierda */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transición suave */
}

.news-item:hover {
  transform: translateY(-5px); /* Mover ligeramente hacia arriba al hacer hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}

.news-img-container {
  width: 100%;
  height: 160px; /* Altura fija para las imágenes */
  overflow: hidden; /* Ocultar el exceso de imagen */
  margin-bottom: 8px; /* Espacio entre imagen y contenido */
}

.news-img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho */
  height: 100%; /* Asegura que la imagen ocupe todo el alto */
}

.news-content {
  padding: 0 10px; /* Espacio lateral dentro de cada tarjeta */
}

.news-title {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
}

.news-description {
  color: #555; /* Color de texto más suave */
  font-size: 0.9em; /* Reduced from 1em */
  margin: 4px 0; /* Reduced from 5px */
}

.news-date {
  font-size: 0.8em; /* Reduced from 0.9em *
  color: #999; /* Color gris para la fecha */
}

.news-author {
  font-size: 0.8em; /* Reduced from 0.9em *
  color: #007bff; /* Color azul para el autor */
  font-weight: bold;
}

/* Estilo adicional para asegurar un buen espacio en la página */
@media (max-width: 768px) {
  .news-grid {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .news-grid {
    grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.page-button {
  border: 1px solid #156AA2;
  background-color: white;
  color: #156AA2;
  padding: 6px 10px; /* Reduced from 8px 12px */
  margin: 0 4px; /* Reduced from 0 5px */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.page-button:hover {
  background-color: #007bff;
  color: white;
}

.page-button.active {
  background-color: #156AA2;
  color: white;
}
